{% ckan_extends %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %} <span class="divider">/</span></li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block page_header %}
  <ul class="nav nav-tabs">
    {% block page_header_tabs %}
      {{ h.build_nav_icon('organization_read', _('Datasets'), id=c.group_dict.name) }}
      {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name) }}  
      {{ h.build_nav_icon('organization_about', _('About'), id=c.group_dict.name) }}
    {% endblock %}
  </ul>
{% endblock %}
